.contact{
   margin-top: 60px;
}


.none{
   display: none;
}

.info{
   position: absolute;
   color: #2a092f;
   font-weight: bold;
   left: 33%;
   top: 30%;

}

@media screen and (max-width: 768px) {

   .block{
      display: none;
   }

   .none{
      display: block;
   }

   .contact{
      width: 30%;
      margin: 10px;
   }

   .datos{
      font-weight: bold;
   }
   .ykg{
      font-size: 15px;
   }
     
}