.circle {
   width: 300px;
   height: 400px;
   border-radius: 100%;
   background: white;
   opacity: 0.1;
   position: fixed;
   top: 0px;
   left: 0;
   z-index: 999;
}
path {
   fill: transparent;
   transform-origin: center bottom;
   transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
}

.invisible {
   opacity: 0;
   transform: scale(0);
}
