*{
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body{
    font-family: "Roboto", "Avenir Next", sans-serif;
	color: #fff;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.video {
  display: block;
  min-width: 100%;
  margin: 0 auto; 
}

.contenedorVideo {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  overflow: hidden; 
}

.bottom-nav {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}

#typewriter{
    top: -100px;
	left: 0;
	position: absolute;
	font-size: 8vw;
	font-weight: bolder;
	color: #fff;
	text-transform: uppercase;
	pointer-events: none;
	line-height: 1;
	width: 100%;
	height: 100%;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	justify-content: center;
	margin: 0;
}

.front{
	top:0;
	left: 0;
	position: absolute;
	font-size: 8vw;
	color: #fff;
	text-transform: uppercase;
	pointer-events: none;
	line-height: 1;
	width: 100%;
	height: 100%;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	justify-content: center;
	margin: 0;
}
}

/* Buttons */
a{
	text-decoration: none;
}

.btn {
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	text-align: center;
	pointer-events: auto;
	color: #333;
	border-radius: 1.85em;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 1.2em;
	padding: 1em 2em;
	margin: 0 auto;
    background: #f0f0f0;
    opacity: .8;
	-webkit-transition: background 0.3s, opacity 0.3s;
	transition: background 0.3s, opacity 0.3s;
}

.btn:focus {
	outline: none;
}

.btn:hover {
      background: #f0f0f0;
      opacity: 1;
}

.btn--trigger {
	width: 15em;
	position: absolute;
	bottom: 2em;
	left: 50%;
	margin: 0 0 0 -7.5em;
}

.btn--hidden {
	opacity: 0;
	pointer-events: none;
}